.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errorMessage {
  color: red;
  font-size: 0.9em;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}
